/TravelSafe/res/layout/extend_time.xml
/TravelSafe/res/layout/help.xml
/TravelSafe/res/layout/home.xml
/TravelSafe/res/layout/registration.xml
/TravelSafe/res/layout/settings.xml
/TravelSafe/res/layout/settings1.xml
/TravelSafe/res/layout/splash.xml
/TravelSafe/res/menu/main.xml
/TravelSafe/res/values-sw600dp/dimens.xml
/TravelSafe/res/values-sw720dp-land/dimens.xml
/TravelSafe/res/values-v11/styles.xml
/TravelSafe/res/values-v14/styles.xml
/TravelSafe/res/values/color.xml
/TravelSafe/res/values/dimens.xml
/TravelSafe/res/values/strings.xml
/TravelSafe/res/values/styles.xml
/TravelSafe/src/com/example/newtraivelsafe/AddJourney.java
/TravelSafe/src/com/example/newtraivelsafe/AlarmReceiver.java
/TravelSafe/src/com/example/newtraivelsafe/BroadcastService.java
/TravelSafe/src/com/example/newtraivelsafe/ChangePassword.java
/TravelSafe/src/com/example/newtraivelsafe/ExtendsTime.java
/TravelSafe/src/com/example/newtraivelsafe/Help.java
/TravelSafe/src/com/example/newtraivelsafe/MainActivity.java
/TravelSafe/src/com/example/newtraivelsafe/Registration.java
/TravelSafe/src/com/example/newtraivelsafe/Settings.java
/TravelSafe/src/com/example/newtraivelsafe/Settings1.java
/TravelSafe/src/com/example/newtraivelsafe/SplashActivity.java
/TravelSafe/src/com/example/newtraivelsafe/UpdateLocation.java
/TravelSafe/src/com/travelsafe/utils/AsyncWebServiceProcessingTask.java
/TravelSafe/src/com/travelsafe/utils/AsynckResponse.java
/TravelSafe/src/com/travelsafe/utils/GeoLocationUtil.java
/TravelSafe/src/com/travelsafe/utils/HTTPUtils.java
/TravelSafe/src/com/travelsafe/utils/LocationData.java
/TravelSafe/src/com/travelsafe/utils/UIUtils.java
/TravelSafe/src/com/travelsafe/utils/Urls.java
# built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class

# generated files
bin/
gen/

# Local configuration file (sdk path, etc)
local.properties

# Eclipse project files
.classpath
.project
